{{yield}}

  <script type="text/javascript" src="https://unpkg.com/vis-network@latest/dist/vis-network.min.js"></script> 
  <link href="https://unpkg.com/vis-network@latest/dist/vis-network.min.css" rel="stylesheet" type="text/css" />
  <script src="//qtip2.com/v/stable/jquery.qtip.js"></script>
  <link href="//qtip2.com/v/stable/jquery.qtip.css" rel="stylesheet" type="text/css"/>
  <style type="text/css">
  
    #mynetwork {
      width: 100%;
      height: 800px;
      border: 1px solid lightgray;
      {{!-- background-color: #f0f0f0;; --}}
      background-color: white;;
    }
    
  </style> 

<div class="container">
    <div class="mask">
      <button {{action "getgraph"}} >Load Graph</button>
    </div>
      <div id="mynetwork"></div>
</div>
<style>


.mask
{
    position: relative;
    float: left;
    clear: none;
    right: -3px;
    top: -3px;
    background-color: white;
    width: 7%;
    height: 100%;
}
</style>